//? PRIMARY
$theos__primary: var(--theos-primary);
$theos__text: var(--theos-text);
$theos__white: var(--theos-white);
$theos__black: var(--theos-black);
//? SECONDARY
$theos__red: var(--theos-red);
$theos__yellow: var(--theos-yellow);
$theos__green: var(--theos-green);
$theos__indigo: var(--theos-indigo);
$theos__teal: var(--theos-teal);
$theos__orange: var(--theos-orange);
//? GRAYS
$theos__gray_100: var(--gray-100);
$theos__gray_200: var(--gray-200);
$theos__gray_300: var(--gray-300);
$theos__gray_400: var(--gray-400);
$theos__gray_500: var(--gray-500);
$theos__gray_600: var(--gray-600);
$theos__gray_700: var(--gray-700);
$theos__gray_800: var(--gray-800);
$theos__gray_900: var(--gray-900);
//? EXTENDED
//?  - BLUES
$theos__blue_100: var(--blue-100);
$theos__blue_200: var(--blue-200);
$theos__blue_300: var(--blue-300);
$theos__blue_400: var(--blue-400);
$theos__blue_500: var(--blue-500);
$theos__blue_600: var(--blue-600);
$theos__blue_700: var(--blue-700);
$theos__blue_800: var(--blue-800);
$theos__blue_900: var(--blue-900);
//? - GREENS
$theos__green_100: var(--green-100);
$theos__green_200: var(--green-200);
$theos__green_300: var(--green-300);
$theos__green_400: var(--green-400);
$theos__green_500: var(--green-500);
$theos__green_600: var(--green-600);
$theos__green_700: var(--green-700);
$theos__green_800: var(--green-800);
$theos__green_900: var(--green-900);
//? - REDS
$theos__red_100: var(--red-100);
$theos__red_200: var(--red-200);
$theos__red_300: var(--red-300);
$theos__red_400: var(--red-400);
$theos__red_500: var(--red-500);
$theos__red_600: var(--red-600);
$theos__red_700: var(--red-700);
$theos__red_800: var(--red-800);
$theos__red_900: var(--red-900);
//? - YELLOWS
$theos__yellow_100: var(--yellow-100);
$theos__yellow_200: var(--yellow-200);
$theos__yellow_300: var(--yellow-300);
$theos__yellow_400: var(--yellow-400);
$theos__yellow_500: var(--yellow-500);
$theos__yellow_600: var(--yellow-600);
$theos__yellow_700: var(--yellow-700);
$theos__yellow_800: var(--yellow-800);
$theos__yellow_900: var(--yellow-900);
//? - CYANS
$theos__teal_100: var(--teal-100);
$theos__teal_200: var(--teal-200);
$theos__teal_300: var(--teal-300);
$theos__teal_400: var(--teal-400);
$theos__teal_500: var(--teal-500);
$theos__teal_600: var(--teal-600);
$theos__teal_700: var(--teal-700);
$theos__teal_800: var(--teal-800);
$theos__teal_900: var(--teal-900);
//? - INDIGOS
$theos__indigo_100: var(--indigo-100);
$theos__indigo_200: var(--indigo-200);
$theos__indigo_300: var(--indigo-300);
$theos__indigo_400: var(--indigo-400);
$theos__indigo_500: var(--indigo-500);
$theos__indigo_600: var(--indigo-600);
$theos__indigo_700: var(--indigo-700);
$theos__indigo_800: var(--indigo-800);
$theos__indigo_900: var(--indigo-900);
//? - BUTTONS ACTIONS
$theos__btn_new: var(--color-new);
$theos__btn_update: var(--color-update);
$theos__btn_remove: var(--color-remove);
$theos__btn_save: var(--color-save);
$theos__btn_search: var(--color-search);
$theos__btn_Inactive: var(--gray-400);
$theos__btn_inactive: var(--gray-400);
$theos__btn_undo: var(--color-undo);
$theos__btn_copy: var(--color-copy);
$theos__btn_print: var(--color-secondary);
