<div class="container">
	<div class="row">
		<div class="col-12">
			<theos-window theosCustomFocus
						  [id]="WINDOW_ID"
						  [title]="WINDOW_TITLE"
						  [windowStatus]="windowStatus"
						  (search)="handleSearch()"
						  [showRequiredHelper]="false">
				<div windowBody
					 class="container">
					<div class="row th-mt-20">
						<div class="col-12">
							<!-- <theos-address [label]="'Address'"
										   [control]="CONTROL(CONTROL_NAMES.address)">
							</theos-address> -->
						</div>
					</div>
					<div class="row th-mt-20">
						<div class="col-12">
							<!-- <theos-contact [label]="'Contact'"
										   [control]="CONTROL(CONTROL_NAMES.contact)">
							</theos-contact> -->
						</div>
					</div>
					<div class="row th-mt-20">
						<div class="col-12">
							<theos-date [config]="COMP_CONFIGS[CONTROL_NAMES.date]">
							</theos-date>
						</div>
					</div>
					<div class="row th-mt-20">
						<div class="col-12">
							<theos-date-interval [config]="COMP_CONFIGS.dateInterval">
							</theos-date-interval>
						</div>
					</div>
					<div class="row th-mt-20">
						<div class="col-12">
							<theos-field-info [config]="COMP_CONFIGS[CONTROL_NAMES.fieldInfo]">
							</theos-field-info>
						</div>
					</div>
					<div class="row th-mt-20">
						<div class="col-12">
							<theos-input [config]="COMP_CONFIGS[CONTROL_NAMES.input]">
							</theos-input>
						</div>
					</div>
					<div class="row th-mt-20">
						<div class="col-12">
							<theos-input-fiel [label]="'Input Fiel'"
											  [control]="CONTROL(CONTROL_NAMES.inputFiel)">
							</theos-input-fiel>
						</div>
					</div>
					<div class="row th-mt-20">
						<div class="col-12">
							<theos-input-search [id]="WINDOW_ID+'__input-search'"
												[label]="'Input Search'"
												[group]="GROUP(CONTROL_NAMES.inputSearch)"
												[telaSistema]="1"
												[dialogTitle]="COMP_CONFIGS[CONTROL_NAMES.inputSearch].dialogTitle"
												[endpoint]="COMP_CONFIGS[CONTROL_NAMES.inputSearch].endpoint"
												[filters]="COMP_CONFIGS[CONTROL_NAMES.inputSearch].filters"
												[customDescriptionSearchDialogField]="'nome'">
							</theos-input-search>
						</div>
					</div>
					<div class="row th-mt-20">
						<div class="col-12">
							<theos-input-search-group [id]="WINDOW_ID+'__input_search_group'"
													  [label]="{code: 'Input Search Group', description: ''}"
													  [group]="GROUP(CONTROL_NAMES.inputSearchGroup)"
													  [telaSistema]="1"
													  [dialogTitle]="COMP_CONFIGS[CONTROL_NAMES.inputSearchGroup].dialogTitle"
													  [endpoint]="COMP_CONFIGS[CONTROL_NAMES.inputSearchGroup].endpoint"
													  [filters]="COMP_CONFIGS[CONTROL_NAMES.inputSearchGroup].filters"
													  [extraProps]="COMP_CONFIGS[CONTROL_NAMES.inputSearchGroup].extraProps"
													  [extraFilters]="COMP_CONFIGS[CONTROL_NAMES.inputSearchGroup].extraFilters">
							</theos-input-search-group>
						</div>
					</div>
					<div class="row th-mt-20">
						<div class="col-12">
							<theos-money-interval [config]="COMP_CONFIGS.moneyInterval">
							</theos-money-interval>
						</div>
					</div>
					<div class="row th-mt-20">
						<div class="col-12">
							<theos-number [config]="COMP_CONFIGS[CONTROL_NAMES.number]">
							</theos-number>
						</div>
					</div>
					<div class="row th-mt-20">
						<div class="col-12">
							<theos-select [config]="COMP_CONFIGS[CONTROL_NAMES.select]">
							</theos-select>
						</div>
					</div>
					<div class="row th-mt-20">
						<div class="col-12">
							<theos-select-search [id]="WINDOW_ID+'__select_search'"
												 [control]="CONTROL(CONTROL_NAMES.selectSearch)"
												 [label]="COMP_CONFIGS[CONTROL_NAMES.selectSearch].label"
												 [options]="COMP_CONFIGS[CONTROL_NAMES.selectSearch].options"
												 [multiSelect]="true">
							</theos-select-search>
						</div>
					</div>
					<div class="row th-mt-20">
						<div class="col-12">
							<theos-text-area [id]="WINDOW_ID+'__text_area'"
											 [label]="'Text Area'"
											 [control]="CONTROL(CONTROL_NAMES.textArea)">
							</theos-text-area>
						</div>
					</div>
				</div>


				<div windowFooter
					 class="container">
					<div class="row">
						<div class="col-8"></div>
						<div class="col-2">
							<theos-button [id]="WINDOW_ID"
										  [config]="{label: 'Reset', icon: 'x-circle', color: '', background: 'var(--color-remove)'}"
										  (buttonClick)="handleReset()">
							</theos-button>
						</div>
						<div class="col-2">
							<theos-button [id]="WINDOW_ID"
										  [config]="{label: 'Validate', icon: 'check-circle', color: '', background: 'var(--color-save)'}"
										  (buttonClick)="handleValidate()">
							</theos-button>
						</div>
					</div>
				</div>
			</theos-window>
		</div>
	</div>
</div>

<ng-container *ngIf="!PRODUCTION">
	<div #debugConsole
		 collapse
		 class="debug-console">

		<button title="Debug Console"
				class="debug-console__collapsable"
				(click)="debugConsole.hasAttribute('collapse') ? debugConsole.removeAttribute('collapse') : debugConsole.setAttribute('collapse', '')">
			<span>Debug Console</span>
			<i-feather name="chevrons-left"></i-feather>
		</button>

		<ul class="debug-info">
			<li class="debug-info__item">
				<span class="debug-info__item__content">Current Route: {{route}} </span>
			</li>
			<li class="debug-info__item">
				<span class="debug-info__item__content">Page ID: {{WINDOW_ID}}</span>
			</li>
			<li class="debug-info__item">
				<span class="debug-info__item__content">Page Title: {{WINDOW_TITLE}}</span>
			</li>
		</ul>

		<ul class="debug-container">
			<li class="debug-info__item">
				<span class="debug-item__collapsable">
					<span class="debug-info__item__content"
						  (click)="collapsable.hasAttribute('collapse') ? collapsable.removeAttribute('collapse') : collapsable.setAttribute('collapse', '')">
						🟦 Initial State
					</span>
					<span #collapsable
						  class="debug-item__content"
						  [innerHTML]="state.initial()">
					</span>
				</span>
			</li>
			<li class="debug-info__item">
				<span class="debug-item__collapsable">
					<span class="debug-info__item__content"
						  (click)="collapsableFormGroup2.hasAttribute('collapse') ? collapsableFormGroup2.removeAttribute('collapse') : collapsableFormGroup2.setAttribute('collapse', '')">
						🟧 Last State
					</span>
					<span #collapsableFormGroup2
						  class="debug-item__content"
						  [innerHTML]="state.last()">
					</span>
				</span>
			</li>
			<li class="debug-info__item">
				<span class="debug-item__collapsable">
					<span class="debug-info__item__content"
						  (click)="collapsableFormGroup1.hasAttribute('collapse') ? collapsableFormGroup1.removeAttribute('collapse') : collapsableFormGroup1.setAttribute('collapse', '')">
						🟩 Current State
					</span>
					<span #collapsableFormGroup1
						  class="debug-item__content"
						  [innerHTML]="state.current()">
					</span>
				</span>
			</li>
			<span class="debug-info__item__content">Group Enabled: {{GROUP('').enabled}}</span>
			<span class="debug-info__item__content">Group Disabled: {{GROUP('').disabled}}</span>
			<span class="debug-info__item__content">Group Valid: {{GROUP('').valid}}</span>
			<span class="debug-info__item__content">Group Invalid: {{GROUP('').invalid}}</span>
		</ul>

	</div>
</ng-container>